@mixin floatAnimation ($xDir, $yDir, $speed){
    animation: float $speed ease-in-out infinite;
    -webkit-animation: float $speed ease-in-out infinite;

    @keyframes float {
        0% {
            transform: translate(0px, 0px);
            -webkit-transform: translate(0px, 0px);
            -moz-transform: translate(0px, 0px);
            -ms-transform: translate(0px, 0px);
            -o-transform: translate(0px, 0px);
        }
        50% {
            transform: translate($xDir, $yDir);
            -webkit-transform: translate($xDir, $yDir);
            -moz-transform: translate($xDir, $yDir);
            -ms-transform: translate($xDir, $yDir);
            -o-transform: translate($xDir, $yDir);
        }
        100% {
            transform: translate(0px, 0px);
            -webkit-transform: translate(0px, 0px);
            -moz-transform: translate(0px, 0px);
            -ms-transform: translate(0px, 0px);
            -o-transform: translate(0px, 0px);
        }
    }
}