@use "../assets/ds/css/colors" as *;
@use './animation' as *;
@use './mediaquerry' as *;

@mixin flx ($flx-direction,$flx-jc,$flx-ai,$flx-gap) {
    display: flex;
    flex-direction: $flx-direction;
    justify-content: $flx-jc;
    align-items: $flx-ai;
    gap: $flx-gap
}

.section-nfts-menu{
    width: 100%;
    @include flx(row, center, center, 0);
    background-color: $white-light;
    .container-nfts-menu{
        &.section-1200{
            padding: 0;
        }
        @include flx(row, center, center, 0);
        .nfts-menu{
            @include flx(row,center,center, 20px);
            .nfts-menu-links{
                list-style: none;
                a{
                    @include flx(row, center, center, 0);
                    font-family: "Kanit regular";
                    text-decoration: none;
                    height: 38px;
                    color: $color-1;
                    font-size: 16px;
                    font-weight: 400;
                    padding: 0px  5px;
                    &:hover{
                        background-color: $white;
                    }
                }
                &.active{
                    a{
                        color: $color-1-light;
                        font-weight: 600;
                        border-bottom: 4px solid #1fc7d4;
                    }
                }
            }
        }
    }
}

.section-nfts-title{
    width: 100%;
    background-color: #ecf6ff;
    @include flx(column, center, center,0);
    .container-nfts-title{
        @include flx(row, space-between, center,0);
        .nfts-title-left{
            @include flx(column, start, start, 0);
            h1{
                font-family: "Kanit SemiBold";
                font-weight: 60;
            }
            h3{
                color: $color-1-dark;
                font-family: "Kanit SemiBold";
                font-weight: 60;
            }
        }
        .nfts-title-right{
            .nfts-search{
                #searchNfts{
                    height: 40px;
                    width: 251px;
                    padding: 0px 20px;
                    font-family: "Kanit Regular";
                    color: $color-1-dark;
                    background-color: #eeeaf4;
                    border: 1px solid #d7caec;
                    font-weight: 400;
                    font-size: 16px;
                    border-radius: 18px;
                    -webkit-border-radius: 18px;
                    -moz-border-radius: 18px;
                    -ms-border-radius: 18px;
                    -o-border-radius: 18px;
                    &::placeholder{
                        color: $color-1-dark;
                        opacity: .5;
                    }
                    &:focus{
                        outline: none;
                        box-shadow: 0px 0px 0px 4px #A78AE8;
                    }
                }
            }
        }
    }
}

.nfts-subsection-titles{
    @include flx(row, space-between, center, 0);
    width: 100%;
    h3{
        color: $color-1-dark;
        font-family: "Kanit SemiBold";
        font-weight: 60;
    }
    a{
        text-decoration: none;
        .nfts-subsection-button{
            @include flx(row,center,center,10px);
            cursor: pointer;
            height: 32px;
            padding: 0px 20px;
            background-color: $white-light;
            color: $color-2;
            font-size: 16px;
            font-family: "Kanit SemiBold";
            font-weight: 60;
            border: 2px solid $color-2;
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -ms-border-radius: 20px;
            -o-border-radius: 20px;
}
    }
}


.section-nfts-newest-collections{
    width: 100%;
    background-color: $white-light;
    @include flx(column,center,center,0);
    .container-nfts-newest-collections{
        @include flx(column, center, center, 40px);
        .nfts-newest-collections{
            @include flx(row, center, center, 19px);
            flex-wrap: wrap;
        }
    }
}

.section-nfts-hot-collections{
    width: 100%;
    background-color: $white-light;
    @include flx(column,center,center,0);
    .container-nfts-hot-collections{
        @include flx(column, center, center, 40px);
        .nfts-hot-collections{
            @include flx(row, center, center, 19px);
            flex-wrap: wrap;
        }
    }
}

.section-nfts-newest-arrivals{
    width: 100%;
    background-color: $white-light;
    @include flx(column,center,center,0);
    .container-nfts-newest-arrivals{
        @include flx(column, center, center, 40px);
        .nfts-newest-arrivals{
            @include flx(row, center, center, 16px);
            flex-wrap: wrap;
        }
    }
}



.container-coin-presentation-back{
    max-width: 371px;
    height: 201px;
    background: rgb(231, 227, 235);
    padding: 1px 1px 3px;
    border-radius: 8px 8px 8px 56px;
    -webkit-border-radius: 8px 8px 8px 56px;
    -moz-border-radius: 8px 8px 8px 56px;
    -ms-border-radius: 8px 8px 8px 56px;
    -o-border-radius: 8px 8px 8px 56px;
    .container-coin-presentation-front{
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        border: 1px solid #e7e3eb;
        border-radius: 8px 8px 8px 56px;
        -webkit-border-radius: 8px 8px 8px 56px;
        -moz-border-radius: 8px 8px 8px 56px;
        -ms-border-radius: 8px 8px 8px 56px;
        -o-border-radius: 8px 8px 8px 56px;
        a{
            width: 100%;
            height: 100%;
            display: inline-block;
            padding: 8px;
            text-decoration: none;
            color: #280d5f;
            .container-coin-presentation{
                width: 100%;
                height: 100%;
                .coin-presentation-banner{
                    width: 100%;
                    height: 65%;
                    img{
                        width: 100%;
                        height: 100%;
                        border-radius: 5px;
                        -webkit-border-radius: 5px;
                        -moz-border-radius: 5px;
                        -ms-border-radius: 5px;
                        -o-border-radius: 5px;
                    }
                }
                .coin-presentation-content{
                    width: 100%;
                    height: 35%;
                    @include flx(row, space-between, center, 0);
                    .coin-presentation-avatar{
                        width: 96px;
                        height: 96px;
                        margin-top: -25px;
                        img{
                            width: 100%;
                            height: 100%;
                            border: 4px solid #ffffff;
                            border-radius: 100%;
                            -webkit-border-radius: 100%;
                            -moz-border-radius: 100%;
                            -ms-border-radius: 100%;
                            -o-border-radius: 100%;
                        }
                    }
                    .coin-presentation-description{
                        @include flx(column, center, end, 10px);
                        .coin-presentation-name{
                            width: 100%;
                            height: auto;
                            text-align: right;
                            h4{
                                color: $color-1-dark;
                                font-family: "Kanit SemiBold";
                                font-weight: 60;
                            }
                        }
                        .coin-presentation-volume{
                            @include flx(row, center, center, 5px);
                            .coin-presentation-volume-text{
                                font-size: 12px;
                                font-weight: 400;
                                line-height: 1.5;
                                color: #948bbb;
                            }
                            .coin-presentation-volume-coin{
                                @include flx(row, center, center, 0px);
                            }
                            .coin-presentation-value{
                                font-size: 16px;
                                font-weight: 600;
                                color: $color-1-dark;
                            }
                        }
                    }
                }
            }

        }
    }
}

.container-coin-card-back{
    width: 276px;
    height: 377px;
    background-color: $white-dark;
    padding: 1px 1px 3px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    .container-coin-card-front{
        width: 100%;
        height: 100%;
        background-color: $white-light;
        padding: 8px;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        a{
            width: 100%;
            height: 100%;
            @include flx(column, space-between, center, 10px);
            text-decoration: none;
            color: $white-dark;
        }
        .coin-card-img{
            width: 100%;
            height: auto;
            img{
                width: 100%;
                height: auto;
                border-radius: 8px;
                -webkit-border-radius: 8px;
                -moz-border-radius: 8px;
                -ms-border-radius: 8px;
                -o-border-radius: 8px;
            }
        }
        .coin-card-description{
            width: 100%;
            font-family: "Kanit Regular";
            @include flx(column, center, start, 5px);
            span{
                font-size: 12px;
                color: $color-1;
                font-weight: 400;
            }
            h4{
                color: $color-1-dark;
                font-weight: 600px;
                font-size: 16px;
            }
            hr{
                width: 100%;
                border: none;
                border-top: 1px solid $white-dark;
            }
            .coin-card-footer{
                width: 100%;
                @include flx(row, space-between, center, 0px);
                .coin-card-price{
                    @include flx(row, center, center, 5px);
                    .coin-card-price-coin{
                        @include flx(row, center, center, 0);
                    }
                    .coin-card-value{
                        font-size: 16px;
                        font-weight: 600;
                        color: $color-1-dark;
                    }
                }
            }
        }
    }
}