/* Error: Undefined mixin.
 *    ,
 * 39 | / @include breakpoint("tablet") {
 * 40 | |     .section-1200, .section-968{
 * 41 | |         width: 100%;
 * 42 | |         padding: 32px 24px;
 * 43 | |     }
 * 44 | \   }
 *    '
 *   mediaquery.scss 39:1  @use
 *   _navbar.scss 2:1      @use
 *   main.scss 3:1         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Undefined mixin.\a    \2577 \a 39 \2502  \250c  @include breakpoint("tablet") {\a 40 \2502  \2502      .section-1200, .section-968{\a 41 \2502  \2502          width: 100%;\a 42 \2502  \2502          padding: 32px 24px;\a 43 \2502  \2502      }\a 44 \2502  \2514    }\a    \2575 \a   mediaquery.scss 39:1  @use\a   _navbar.scss 2:1      @use\a   main.scss 3:1         root stylesheet';
}
