/* Error: Undefined mixin.
 *    ,
 * 83 |                             @include floatAnimation2(3px, 15px, 3s);
 *    |                             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   _buy-cake.scss 83:29  @use
 *   main.scss 3:1         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 83 \2502                              @include floatAnimation2(3px, 15px, 3s);\d\a    \2502                              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   _buy-cake.scss 83:29  @use\a   main.scss 3:1         root stylesheet";
}
