.section-prizes{
    width: 100%;
    min-height: 200px;
    padding: 40px 0;
    background-color: rgba(0, 0, 0, 0) linear-gradient(rgb(111, 182, 241) 0%, rgb(234, 242, 246) 100%) repeat scroll 0% 0%;
}