/* Colors Var */
$purple-1: #7a6eaa;
$purple-2: #7645d9;
$purple-3: #280d5f;

$lightBlue-1: #6cdae2;
$lightBlue-2: #1fc7d4;
$lightBlue-3: #187d91;

$white-1: #ffffff;
$white-2: #eff4f5;
$white-3: #e7e3eb;

$pink: #ed4b9e;
$orange: #ffb237;
$yellow: #ffe568;

$brown-1: #fedc90;
$brown-2: #d1884f;
$brown-3: #633001;

$black-1: #000000;
$black-2: #383241;
$black-3: #27262c;

/*Background colors*/

$prediction-bg-color: rgba(0, 0, 0, 0) linear-gradient(rgb(255, 178, 55) 0%, rgb(255, 205, 81) 51.17%, rgb(255, 231, 106) 100%) repeat scroll 0% 0%;
$lottery-bg-color: rgba(0, 0, 0, 0) linear-gradient(rgb(118, 69, 217) 0%, rgb(81, 33, 177) 100%) repeat scroll 0% 0%;


/*Text Var*/
$text-color: #7a6eaa;
$title-color: #280d5f;
$title-important-color: #7645d9;
$text-button-color: #ffffff;
$link-text-color: #1fc7d4;

/*Components var*/
$buttons-color: #1fc7d4;
$card-background: #ffffff;
$icons-color: #7a6eaa;
$icons-social-color: #b8add2;
$icons-grey: #9F9C9C;

/*Popup title background colors*/
$settings-card-title-bg: rgba(0, 0, 0, 0) linear-gradient(111.68deg, rgb(242, 236, 242) 0%, rgb(232, 242, 246) 100%) repeat scroll 0% 0%;
$connectWallet-card-title-bg: rgba(0, 0, 0, 0) linear-gradient(139.73deg, rgb(229, 253, 255) 0%, rgb(243, 239, 255) 100%) repeat scroll 0% 0%;
<<<<<<< HEAD


/*Buttons Toggle Switch colors*/
$b-ToggleSwitch-active:#31D0AA;

$b-ToggleSwitch-light-bg: #EEEAF4;
$b-ToggleSwitch-light-ball: #ffffff;

$b-ToggleSwitch-dark-bg: #372F47;
$b-ToggleSwitch-dark-ball: #27262C;

$b-ToggleSwitch-darkmode-active: #666171;

$b-ToggleSwitch-pancake-bg: #e27c31;
$b-ToggleSwitch-pancake-shadow: #fbbe7c;
$b-ToggleSwitch-butter-bg: #fbdb60;
$b-ToggleSwitch-butter-shadow: #d67823;
=======
>>>>>>> 378c39181f37057f7e0f58370c17bef502888cf6
