/* Colors Var */
/*Background colors*/
/*Text Var*/
/*Components var*/
/*Popup title background colors*/
@font-face {
  font-family: "Kanit Bold";
  src: url(../fonts/kanit/Kanit-Bold.ttf);
}
@font-face {
  font-family: "Kanit Regular";
  src: url(../fonts/kanit/Kanit-Regular.ttf);
}
@font-face {
  font-family: "Kanit SemiBold";
  src: url(../fonts/kanit/Kanit-SemiBold.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

<<<<<<< HEAD
/* STRUTTURA PAGINA DS */
body {
  height: 100vh;
}

.iconsContainer {
  height: 300px;
  margin: 10px;
}

.headerIcons {
  width: 100%;
}

.mainIcons {
  display: flex;
  width: 100%;
  height: 100%;
  align-content: space-between;
}

.hoverIcons {
  height: 100%;
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.containerPreviewIcon {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.staticIcons {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.socialIcons {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.titleIcons {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.socialContainerIcons {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* ICONE DA QUI IN POI */
.containerIcons {
  width: 40px;
  height: 40px;
}

.icons {
  align-self: center;
  margin-right: 0.5rem;
  fill: #7a6eaa;
  width: 100%;
  height: 100%;
}

.iconsHover {
  cursor: pointer;
}
.iconsHover :hover {
  opacity: 0.65;
}

.close {
  fill: #1fc7d4;
}

.back {
  fill: #1fc7d4;
}

.users {
  fill: #7645d9;
}

.trades {
  fill: #1fc7d4;
}

.stacked {
  fill: #ed4b9e;
}

.prediction {
  fill: #000000;
}

.lottery {
  fill: #9F9C9C;
}

.quit {
  fill: #000000;
}

.alert {
  fill: #ffb237;
}

.social {
  cursor: pointer;
  fill: #b8add2;
}

/* STRUTTURA PAGINA DS */
body {
  height: 100vh;
}

.container {
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title span {
  font-size: 16px;
}

span {
  font-family: Kanit Regular;
  font-size: 14px;
  color: #280d5f;
}

/* STILI HEADER E PARAGRAPH */
h1 {
  font-size: 64px;
  font-family: Kanit Bold;
  color: #7645d9;
}

h2 {
  font-size: 40px;
  font-family: Kanit Bold;
  color: #7645d9;
}

h3 {
  font-size: 24px;
  font-family: Kanit Bold;
  color: #7645d9;
}

h4 {
  font-size: 20px;
  font-family: Kanit Bold;
  color: #7645d9;
}

p {
  font-size: 16px;
  font-family: Kanit Regular;
  color: #7645d9;
=======
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 2em;
}
.container h1 {
  color: #7645d9;
}
.container .subtitle {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  padding: 0;
  font-weight: bolder;
}
.container .subtitle span {
  padding: 0 1em 1em 0;
  margin-right: 21em;
}
.container .grid-container {
  display: flex;
  flex-direction: row;
  width: 45%;
  height: 100%;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.container .grid-container .grid1,
.container .grid-container .grid2 {
  display: grid;
  flex-direction: none;
  width: 100%;
  height: 65%;
  padding: 0;
  gap: 1em;
  margin-right: 5em;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.container .grid-container .grid1 .block,
.container .grid-container .grid2 .block {
  display: flex;
  flex-direction: column;
  width: 6.5em;
  height: 3em;
  padding: 0;
  border: 2px solid black;
}
.container .grid-container .grid1 .block .color,
.container .grid-container .grid2 .block .color {
  padding: 3.5em 0;
  font-weight: 600;
  line-height: 1.3;
>>>>>>> develop
}

/*# sourceMappingURL=designsystem.css.map */
