.flex-container {
    width: 100%;
    height: auto;
    display: flex;
    padding: 56px 40px 32px;
    margin-bottom: 0px;
}
.small-container{
    height: auto;
    width: 1200px;
    display: flex;
    flex-direction: column;
}